In [1]:
print("Hello Women in Python community")

Hello Women in Python community

### Women in Python assignment - May 1st
#### DEADLINE: May 5th
#### Feel free to ask questions in group or search for answers on the Internet.
#### We look forward to seeing you next week.
#### Aki and Saulo

# PART 01

**Assignment 01**
Create a translator with Python.

The idea is to create a function which can translate a word in english to Chinese , just limited words for now .

1.   Create a list to display the words which you can translate .
2.   Create a dictonary which has a definition for the words in the list . Example : {"water":"shui","air":"kōngqì"} etc

1.  Create a function called "translate(word)" which can return the chinese translation of the word.
2.  Finally ask user to enter the word , once user enters the word pass the word to the function and display the translation.

Your program should finally show something like this, below example has only 3 words you can have more:


> *Choose one of the words below and I will translate*


>  ['water', 'air', 'sun']


>*Enter the word:* **sun**


> **sun** * in chinese is*  **日rì**

# PART 02

**Let's review the Weather app class and put the weather data into a Pandas data frame.**

In [2]:
'''
Weather app - bonus
'''



# From the Weather app class we learned:
import requests
import json

class weather(object):
    def __init__(self,mycity):
        self.city = mycity
        url = 'https://api.openweathermap.org/data/2.5/weather?q='+ mycity +'&units=metric&appid=bc4177261288e5a33a1011e923aeee10'
        response = requests.get(url)
        jsonobj = json.loads(response.content)
        print(jsonobj)
        temperature_list = jsonobj['weather']
        print(temperature_list)
        print(jsonobj['main']['humidity'])
        desc = temperature_list[0]['description']
        print(desc)
        
# From this class we can get weather information from any city, for example:
weather('Rio de Janeiro') # the best city in the world!

{'coord': {'lon': -43.21, 'lat': -22.91}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': 25.81, 'pressure': 1016, 'humidity': 83, 'temp_min': 24, 'temp_max': 28}, 'visibility': 10000, 'wind': {'speed': 2.1, 'deg': 90}, 'clouds': {'all': 20}, 'dt': 1556331593, 'sys': {'type': 1, 'id': 8429, 'message': 0.0051, 'country': 'BR', 'sunrise': 1556269802, 'sunset': 1556310661}, 'id': 3451190, 'name': 'Rio de Janeiro', 'cod': 200}
[{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}]
83
few clouds

In [3]:

# We have the data, but the format is not really friendly. Let's improve this?

# First let's import Pandas
import pandas as pd

# We only need the variable jsonobj from our Class. So, let's clean it up a bit:

class weather_vr02(object):
    def __init__(self,mycity):
        self.city  = mycity
        url        = 'https://api.openweathermap.org/data/2.5/weather?q='+ mycity +'&units=metric&appid=bc4177261288e5a33a1011e923aeee10'
        response   = requests.get(url)
        self.data  = json.loads(response.content)
      
      
# Let's check if it is working

my_city = weather_vr02('Rio de Janeiro')

In [4]:
my_city.data # That's the weather data from Rio de Janeiro

{'coord': {'lon': -43.21, 'lat': -22.91},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 25.81,
  'pressure': 1016,
  'humidity': 83,
  'temp_min': 24,
  'temp_max': 28},
 'visibility': 10000,
 'wind': {'speed': 2.1, 'deg': 90},
 'clouds': {'all': 20},
 'dt': 1556331593,
 'sys': {'type': 1,
  'id': 8429,
  'message': 0.0051,
  'country': 'BR',
  'sunrise': 1556269802,
  'sunset': 1556310661},
 'id': 3451190,
 'name': 'Rio de Janeiro',
 'cod': 200}

In [5]:
'''
Did you know that Pandas deal with Json?
'''

df_data = pd.io.json.json_normalize(my_city.data)

In [6]:
df_data.head(5) # The problem here is that the variable "Weather" is still in a strange format: It is a list of dictionary. Check it out.

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.humidity,main.pressure,main.temp,...,sys.country,sys.id,sys.message,sys.sunrise,sys.sunset,sys.type,visibility,weather,wind.deg,wind.speed
0,stations,20,200,-22.91,-43.21,1556331593,3451190,83,1016,25.81,...,BR,8429,0.0051,1556269802,1556310661,1,10000,"[{'id': 801, 'main': 'Clouds', 'description': ...",90,2.1

In [7]:
# If we are acquainted with our data, we can tell Pandas what the variable "Weather" looks like:
df_weather = pd.io.json.json_normalize(my_city.data, 'weather')
df_weather # show data frame

  description icon   id    main
0  few clouds  02n  801  Clouds

In [8]:
# Let's now merge both df_data and df_weather to have only one data frame with all data.
df_all = pd.concat([df_data,df_weather], axis=1, sort=False)

# Finally, we do not want the variable "weather" anymore, so let's remove them.
df_all.drop(['weather'], axis=1, inplace=True)

# Let's improve further this data frame by turning the column into index by transposing the data frame.
df_all = df_all.set_index('name').T

df_all

name          Rio de Janeiro
base                stations
clouds.all                20
cod                      200
coord.lat             -22.91
coord.lon             -43.21
dt                1556331593
id                   3451190
main.humidity             83
main.pressure           1016
main.temp              25.81
main.temp_max             28
main.temp_min             24
sys.country               BR
sys.id                  8429
sys.message           0.0051
sys.sunrise       1556269802
sys.sunset        1556310661
sys.type                   1
visibility             10000
wind.deg                  90
wind.speed               2.1
description       few clouds
icon                     02n
id                       801
main                  Clouds

In [9]:
'''
Let's get these pieces of code and throw them in a function
'''

def weather_data_to_pandas_df(weather_json_obj):
    df_data    = pd.io.json.json_normalize(weather_json_obj)
    df_weather = pd.io.json.json_normalize(weather_json_obj, 'weather')
    df_all     = pd.concat([df_data,df_weather], axis=1, sort=False)
    df_all.drop(['weather'], axis=1, inplace=True)
    df_all = df_all.set_index('name').T

    return df_all

In [10]:
# usage
weather_data_to_pandas_df(weather_vr02('Shenzhen').data)

name             Shenzhen
base             stations
clouds.all             20
cod                   200
coord.lat           22.54
coord.lon          114.05
dt             1556332228
id                1795565
main.humidity          69
main.pressure        1012
main.temp           26.24
main.temp_max          28
main.temp_min          25
sys.country            CN
sys.id               9630
sys.message        0.0055
sys.sunrise    1556315673
sys.sunset     1556362095
sys.type                1
visibility          10000
wind.deg              100
wind.speed              7
description    few clouds
icon                  02d
id                    801
main               Clouds

In [11]:
# We can actually get the weather information for many cities at the same time.

dfs = []
for city_name in ['Rio de Janeiro', 'Shenzhen', 'Amsterdam']:
    df = weather_data_to_pandas_df(weather_vr02(city_name).data)
    dfs.append(df)

df_cities = pd.concat(dfs, axis=1)
df_cities

name          Rio de Janeiro    Shenzhen   Amsterdam
base                stations    stations    stations
clouds.all                20          20           0
cod                      200         200         200
coord.lat             -22.91       22.54       52.37
coord.lon             -43.21      114.05        4.89
dt                1556331593  1556332228  1556332156
id                   3451190     1795565     2759794
main.humidity             83          69          76
main.pressure           1016        1012        1010
main.temp              25.81       26.24       10.29
main.temp_max             28          28       11.67
main.temp_min             24          25        8.89
sys.country               BR          CN          NL
sys.id                  8429        9630        1524
sys.message           0.0051      0.0055      0.0068
sys.sunrise       1556269802  1556315673  1556338685
sys.sunset        1556310661  1556362095  1556391474
sys.type                   1           1           1
visibility             10000       10000       10000
wind.deg                  90         100         180
wind.speed               2.1           7         5.1
description       few clouds  few clouds   clear sky
icon                     02n         02d         01n
id                       801         801         800
main                  Clouds      Clouds       Clear

In [12]:
df_cities.loc['main.temp'].plot.bar()

**Assignment 02: Data exploration**

Using the example above, do the following:

**1.Add other 3 cities to the data frame (tip: use the 'for' loop as shown above).**

**2. Make a figure showing the humidity of all cities.**

**3. Remove one of the cities from your data frame.**

**4. Bonus task: add a new row providing information on what to dress based on the temperature.**

In [16]:
'''
Tips for task #4
'''

# 1) adding a new index row in Pandas

df = pd.DataFrame({'A':1,'B':20,'C':30}, index=['first_row']) # creating a generic data frame
df

           A   B   C
first_row  1  20  30

In [17]:
df.loc['new_row'] = [4,5,6] # I just picked three values - remember that it has to have 3 columns to match the shape of the data frame
df

           A   B   C
first_row  1  20  30
new_row    4   5   6

In [27]:
df.loc['row_string'] = [None,None,None] # create an empty row to be populated in the following loop.
i = 0
for values in df.loc['first_row']:
    if 1 <= values <= 10:
        string = 'low value'
        df.loc['row_string'][i] = string
        print(i,string)
    elif 10 <= values <= 20:
        string = 'mid value'
        df.loc['row_string'][i] = string
        print(i,string)
    elif 20 <= values <= 30:
        string = 'high value'
        df.loc['row_string'][i] = string
        print(i,string)
        
    i += 1

0 low value
1 mid value
2 high value

In [28]:
df

                    A          B           C
first_row           1         20          30
new_row             4          5           6
row_string  low value  mid value  high value